extend layout
block content
  div(class="container-fluid")
    h1(class="page-overview") About
    p 
      | I first started writing UH Find in 2010 when I was still at UH and found 
      | myself frustrated using the <a href="https://www.sis.hawaii.edu/uhdad/avail.classes?i=MAN&t=201510">current web system</a> to search for classes.
      | <a href="http://github.com/alexchantavy/UH-Class-Search">Early versions</a> 
      | of my scripts weren't really usable by anyone other than me, and over the past few years I've 
      | spent a lot of time putting together a product that I hope can benefit all Manoa
      | students. 
    p
      | Currently UH Find works only for the UHM campus but if there's enough
      | demand and support I'll do the same thing for the CCs.  The data gets 
      | updated once a day but I can adjust this if enough people are interested.
    p
      | Feel free to contact me on Twitter <a href="http://www.twitter.com/alexchantavy">@alexchantavy</a>
      | if you have any suggestions or questions.  I'll be continually working to 
      | make it better.  

    h1 For Developers
    p 
      | Reach out to me on <a href="http://github.com/alexchantavy">GitHub</a>
      | or <a href="http://www.twitter.com/alexchantavy">@alexchantavy</a> if 
      | you want to learn about how this works or if you're interested in 
      | contributing to the project.
    h1 License
    p
      | This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.


