extend layout
block content
  h1(class="page-overview") Donations
  p
    | So, it costs money for the hosting and bandwidth to keep this app 
    | running and ad-free.  If you've found UH Find helpful, I am very grateful 
    | for any donations you can send my way.  Thank you for your support.
  p 
    | <div class="cb-tip-button" data-content-location="" data-href="//www.coinbase.com/tip_buttons/show_tip" data-to-user-id="548e735a6866bba6f2000109"></div>
    | <script>!function(d,s,id) {var js,cjs=d.getElementsByTagName(s)[0],e=d.getElementById(id);if(e){return;}js=d.createElement(s);js.id=id;js.src="https://www.coinbase.com/assets/tips.js";cjs.parentNode.insertBefore(js,cjs);}(document, 'script', 'coinbase-tips');</script>
    | <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    | <input type="hidden" name="cmd" value="_donations">
    | <input type="hidden" name="business" value="2AVYY8J9562X6">
    | <input type="hidden" name="lc" value="US">
    | <input type="hidden" name="item_name" value="Alex Chantavy">
    | <input type="hidden" name="currency_code" value="USD">
    | <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_SM.gif:NonHostedGuest">
    | <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    | <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    | </form>

