!!!5
html(ng-app='uhfind')
  head
    title UH Manoa Class Finder
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://bazalt-cms.com/assets/ng-table/0.3.0/ng-table.css')
    link(rel='stylesheet', href='/stylesheets/style.css')  
  body
    header
      h1 UH Manoa Class Catalog
    .container
      .main-content
        block content
    //- div(class='navbar-fixed-bottom')
    //-   div(class='container')
    //-     a(href='http://github.com/alexchantavy') GitHub
    //-     a(href='https://twitter.com/share') Tweet
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
  script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js')
  script(src='http://bazalt-cms.com/assets/ng-table/0.3.0/ng-table.js')
  script(src='js/controller.js')
  
