!!!5
html(ng-app='uhfind')
  head
    title #{title} - UH Class Finder
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    header
      h1 UH Class Catalog
    .container
      .main-content
        block content
    footer
      p github.com/alexchantavy
  script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js')
  script(src='js/controller.js')
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
